* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: 'Roboto';
  font-weight: 500;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ////////////////////////////////////////////////////////////// */
.header {
  height: 230px;
  padding-top: 41px;
  background-color: rgba(9, 9, 9, 0.56);
}
.header-bg-home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/bg-home-page.jpg');
}
.header-bg-library-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/bg-library-page.jpg');
}
.logo {
  font-size: 30px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.logo__icon {
  width: 24px;
  height: 24px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation-list {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 39px;
}
.navigation-link {
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* /// */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.search-input {
  padding: 4px;
  width: 336px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.submit-btn {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.icon-search {
  width: 12px;
  height: 12px;
}
.search-failure-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 22px;
  text-align: center;
  color: #ff001b;
}
/* ----------------------------- */
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.movie-card {
  padding-bottom: 6px;
  margin-left: 30px;
  margin-top: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card:hover,
.movie-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.image {
  object-fit: cover;
  width: 275px;
}
.movie-name {
  margin-top: 10px;
  max-width: 274px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #000000;
}
.movie-genre {
  margin-top: 5px;
  max-width: 274px;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}
/* ================================= */
.footer {
  padding-top: 30px;
  height: 77px;
  background: #f7f7f7;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;
}
.footer-icon {
  width: 14px;
  height: 13px;
}
